<div class="item">
  <br>
  <div class="content">

    <!-- buttons -->
    <div class="floating">
      <% if task.assigned_to?(current_user) && !task.complete? %>
        <%= render partial: 'complete_button', locals: {team: @team, task: task} %>
      <% elsif task.complete? %>
        <button class="mini ui teal button">Completed!</button>
      <% elsif !task.users.empty? %>
        <!-- shows nothing if task doesn't belong to user -->
      <% else %>
        <%= render partial: 'claim_button', locals: {team: @team, task: task} %>
      <% end %>

      <!-- edit task button -->
      <%= link_to edit_team_task_path(@team, task) do %>
        <%= button_tag "Edit", class: "mini ui icon button" do %>
          <i class="edit icon"></i>
        <% end %>
      <% end %>

      <!-- delete task button -->
      <%= form_tag team_task_path(@team, task), method: "delete", class: "ui inline form" do %>
        <%= button_tag "Delete", class: "mini ui red icon button" do %>
            <i class="remove icon"></i>
        <% end %>
      <% end %>
    </div>

    <!-- task content -->
    <div class="caps small-header"><%= task.name %>
      <% if !task.users.empty? %>
         &mdash; <%= task.users.pluck(:name).to_sentence %>
      <% end %>
    </div>
    <%= task.notes %>
    <p class="small italic">Updated <%= task.updated_at.strftime("%A, %B %e") %></p>
  </div>
  <br>
</div>
