<div class="item">
  <br>
  <div class="content">

    <!-- BUTTONS -->
    <div class="floating">

      <!-- complete button -->
      <% if task.assigned_to?(current_user) && !task.complete? %>
        <%= render partial: 'complete_button', locals: {team: @team, task: task} %>

      <!-- completed! -->
      <% elsif task.complete? %>
        <button class="mini ui green button">Completed!</button>

      <% elsif !task.users.empty? %>
        <!-- shows nothing if task doesn't belong to user -->

      <!-- claim task button -->
      <% else %>
        <%= render partial: 'claim_button', locals: {team: @team, task: task} %>
      <% end %>

      <!-- edit button -->
      <%= link_to edit_team_task_path(@team, task), id: "edit_#{task.id}" do %>
        <%= button_tag "Edit", class: "mini ui white icon button" do %>
          <i class="edit icon"></i>
        <% end %>
      <% end %>

      <!-- delete button -->
      <%= form_tag team_task_path(@team, task), method: "delete", class: "ui inline form" do %>
        <%= button_tag "Delete", class: "mini ui red icon button", id: "delete_#{task.id}" do %>
            <i class="remove icon"></i>
        <% end %>
      <% end %>
      <br>
    </div>




    <!-- TASK CONTENT -->
    <div class="caps small-header"><%= task.name %>
      <% if task.claimed %>
         &mdash; <%= task.display_users %>
      <% end %>
    </div>

    <span class="blue-text"><%= task.notes %></span>
    <div class="small italic">Updated <%= show_updated_at(task) %></div>
  </div>
  <br>
</div>
