<div class="item">
  <br>
  <div class="content">

    <!-- buttons -->
    <div class="floating">
      <% if task.assigned_to?(current_user) && !task.complete? %>
        <%= render partial: 'complete_button', locals: {team: @team, task: task} %>
      <% elsif task.assigned_to?(current_user) && task.complete? %>
        <button class="mini ui teal button">Completed!</button>
      <% else %>
        <%= render partial: 'claim_button', locals: {team: @team, task: task} %>
      <% end %>
      <button class="mini ui button"><i class="edit icon"></i>Edit</button>
      <button class="mini ui red button"><i class="remove icon"></i>Delete</button>
    </div>

    <!-- task content -->
    <div class="caps small-header"><%= task.name %></div>
    <%= task.notes %>
    <p class="small italic">Updated <%= task.updated_at.strftime("%A, %B %e") %></p>
  </div>
  <br>
</div>
