<h1 class="center"><%= @team.name %> &mdash; <%= @team.users.first.name %> & <%= @team.users.last.name %></h1>

<div class="ui horizontal divider">to do</div>

<!-- TOGGLE MENU -->
<div class="ui three item menu" id="menu">
  <%= link_to "ALL", "#", class: "item", id: "allTasks" %>
  <%= link_to "INCOMPLETE", "#", class: "item", id: "incompleteTasks" %>
  <%= link_to "MY TASKS", "#", class: "item", id: "myTasks" %>
</div>

<div class="ui relaxed celled list">
  <div id="tasksGoHere">
    
  </div>

  <!-- TASK LIST -->
  <%#= render @tasks %>

  <div class="ui divider"></div>

    <!-- NEW TASK FORM -->
    <div class="item">
      <br>
      <div class="content">
        <div class="caps small-header">Add task</div><br>
        <%= render 'form' %>
      </div>
      <br>

    </div>

    <div class="ui divider"></div>

    <%= link_to "Leave Team", edit_team_path(@team), class: "mini ui fluid basic button", id: "leave-team" %>

</div>
