<h1 class="center"><%= @team.name %> &mdash; <%= @team.users.first.name %> & <%= @team.users.last.name %></h1>

<div class="ui horizontal divider">to do</div>

<!-- TOGGLE MENU -->
<div class="ui three item menu" id="menu">
  <%= link_to "ALL", team_tasks_path(@team, view: "all"), class: "item" %>
  <%= link_to "INCOMPLETE", team_tasks_path(@team, view: "incomplete"), class: "item" %>
  <%= link_to "MY TASKS", team_tasks_path(@team, view: "my_tasks"), class: "item" %>
</div>

<div class="ui divider"></div>
<div class="ui relaxed celled list">

  <!-- TASK LIST -->
  <%= render @tasks %>

  <div class="ui divider"></div>

    <!-- NEW TASK FORM -->
    <div class="item">
      <br>
      <div class="content">
        <div class="caps small-header">Add task</div><br>
        <%= render 'form' %>
      </div>
      <br>

    </div>

    <div class="ui divider"></div>

    <%= link_to "Leave Team", edit_team_path(@team), class: "mini ui fluid basic button", id: "leave-team" %>

</div>
