<h1 class="center small-space"><%= @team.name %> &mdash; <%= @team.users.first.name %> & <%= @team.users.last.name %></h1>

<div class="ui horizontal divider">to do</div>

<div class="ui relaxed celled list">

  <div class="item">
    <br>
    <div class="content">
      <div class="header">Add task:</div><br>
      <%= render 'form' %>
    </div>
    <br>
  </div>

  <%= render @team.tasks %>
  
</div>
