<h1 class="center small-space"><%= @team.name %> &mdash; <%= @team.users.first.name %> & <%= @team.users.last.name %></h1>

<div class="ui horizontal divider">to do</div>

<div class="ui relaxed celled list">
  <% @team.tasks.each do |task| %>
    <div class="item">
      <br>
      <div class="content">
        <div class="floating">
          <% if task.assigned_to?(current_user) %>
            <button class="mini ui teal button"><i class="checkmark box icon"></i>Mark Complete</button>
          <% else %>
            <button class="mini ui teal button">Claim Task</button>
          <% end %>
          <button class="mini ui button"><i class="edit icon"></i>Edit</button>
          <button class="mini ui red button"><i class="remove icon"></i>Delete</button>
        </div>
        <div class="caps small-header"><%= task.name %></div>
        <%= task.notes %>
        <p class="small italic">Updated <%= task.updated_at.strftime("%A, %B %e") %></p>
      </div>
      <br>
    </div>
  <% end %>
</div>
