<h1 class="center small-space"><%= @team.name %> &mdash; <%= @team.users.first.name %> & <%= @team.users.last.name %></h1>

<div class="ui horizontal divider">
  <%= link_to "ALL", team_tasks_path(@team, view: "all"), class: "teal item" %> |
  <%= link_to "INCOMPLETE", team_tasks_path(@team, view: "incomplete"), class: "teal item" %> |
  <%= link_to "MY TASKS", team_tasks_path(@team, view: "my_tasks"), class: "teal item" %>
</div>



<div class="ui relaxed celled list">


  <!-- task list -->
  <%= render @tasks %>


    <!-- new task form -->
    <div class="item">
      <br>
      <div class="content">
        <div class="header">Add task:</div><br>
        <%= render 'form' %>
      </div>
      <br>
    </div>

</div>
