<div class="item">
  <br>
  <div class="content">
    <div class="header">Add a new listing:</div><br>
    <%= form_for @request, :html => {:class => "ui form"} do |f| %>
      <div class="field">
        <%= f.label :project, "Name of Project" %>
        <%= f.text_field :project %>
      </div>
      <div class="field">
        <%= f.label :info, "Info (good stuff to include here: the nature of the project, when you plan to get started, your email or Slack info)" %>
        <%= f.text_area :info %>
      </div>

      <%= f.submit "Add Listing", class: "ui button" %>
    <% end %>
  </div>
  <br>
</div>
