<div class="item">
  <br>
  <div class="content">
    
    <!-- CONTENT -->
    <div class="header"><%= pair_request.user.name %> is looking for a parter for <%= pair_request.project %></div><br>
    <%= pair_request.info %>
    <p class="small italic">Posted <%= show_updated_at(pair_request) %></p>
    
    <!-- BUTTONS -->
    <% if belongs_to_user(pair_request) %>
        <%= button_to "Mark Inactive", pair_request_path(pair_request), method: "patch", class: "small ui red button" %>
    <% else %>
    
      <!-- join team button -->
      <%= render partial: 'pair_requests/join_button', locals: { team: Team.new, pair_request: pair_request } %>

    <% end %>
  </div>
  <br>
</div>
