<div class="item">
  <br>
  <div class="content">
    <div class="header"><%= pair_request.user.name %> needs a parter for <%= pair_request.project %></div><br>
    <%= pair_request.info %>
    <p class="small italic">Posted <%= pair_request.updated_at.strftime("%A, %B %e") %></p>
    <% if pair_request.user.id == current_user.id %>
        <%= button_to "Mark Inactive", pair_request_path(pair_request), method: "patch", class: "small ui red button" %>
    <% else %>
      <%= form_for Team.new, :html => {:class => "ui form"} do |f| %>
        <%= f.hidden_field :name, value: pair_request.project %>
        <%= f.hidden_field :user_ids, value: "#{current_user.id}, #{pair_request.user.id}" %>
        <%= f.submit "Join Team!", class: "small ui teal button" %>
      <% end %>
    <% end %>
  </div>
  <br>
</div>
