<!DOCTYPE html>
<html>
  <head>
    <title>FlatCollab</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag    'application' %>
  </head>

  <body>
    <!-- navbar -->
    <%= render 'layouts/navigation' %>

    <% if logged_in %>
      <div class="ui text container" id="text-container">
        <div class="ui very padded segment">
          <%= render 'layouts/messages' %>
          <%= yield %>
          <script>
            window.currentUser = {
              id: <%= current_user.id %>
            }
          </script>
        </div>
      </div>

    <% else %>
      <div class="ui text container vertical-space" id="text-container">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    <% end %>

  </body>
</html>
